[Unit]
Description=Запуск сторожа 360PROFI каждые пять минут

[Timer]
OnBootSec=2min
OnUnitActiveSec=5min
AccuracySec=30s

[Install]
WantedBy=timers.target
